@import "tailwindcss";

@theme {
    --size-spacing-xs: 0.25rem;
    --size-spacing-sm: 0.6rem;
    --size-spacing-md: 0.8rem;
    --size-spacing-lg: 1.2rem;
    --size-spacing-xl: 1.4rem;

    --spacing-xs: var(--size-spacing-xs);
    --spacing-sm: var(--size-spacing-sm);
    --spacing-md: var(--size-spacing-md);
    --spacing-lg: var(--size-spacing-lg);
    --spacing-xl: var(--size-spacing-xl);

    --color-primary: #16a34a;
    --color-secondary: #22c55e;
    --color-accent: #f59e0b;

    --color-info: #3b82f6;
    --color-success: #16a34a;
    --color-warning: #fbbf24;
    --color-error: #ef4444;

    /* gray tones */
    --color-faint: var(--color-gray-50);
    --color-subtle: var(--color-gray-300);
    --color-muted: var(--color-gray-400);
    --color-neutral: var(--color-gray-600);
    --color-strong: var(--color-gray-800);
    --color-deep: var(--color-gray-900);
    --color-dim: var(--color-gray-950);

    /* dock */
}






